<div class="login-container">
    <div class="login-card">
      <div class="login-image">
        <!-- <img src="assets/logo.png" alt="Logo" class="logo" /> -->
      </div>
      <div class="login-form">
        <h2>Welcome</h2>
        <p>Please login to your account</p>
        <form (ngSubmit)="onSubmit()">
          <div class="input-group">
            <label for="username">Username or Email</label>
            <input
              type="text"
              id="username"
              [(ngModel)]="username"
              name="username"
              required
            />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              [(ngModel)]="password"
              name="password"
              required
            />
          </div>
          <div class="action-links">
            <a href="#">Forgot Password?</a>
          </div>
          <button type="submit" class="login-btn">OK</button>
        </form>
        <div class="register-link">
          <p>Register your School in Our Apps</p>
        </div>
        <div class="footer">
          <a href="#">Terms and Conditions & Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
  